level1/simple_chat_joke.json
{
  "name": "Demo",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-thinking-exp-01-21",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-thinking-exp-01-21"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        128,
        -80
      ],
      "id": "b46a6d56-ad94-4e02-bc75-91276fbc04bf",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "HslpqjAp0rNojBYe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6c34c56-45a3-48b4-923e-d9d595ac6c2e",
              "name": "Gemini response",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -80
      ],
      "id": "e82501a1-3bc9-4e29-a49e-7171fa363b53",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        -80
      ],
      "id": "cfa87e72-7a8f-43e3-b37a-09a77690abdb",
      "name": "When chat message received",
      "webhookId": "e42e356e-a3f4-435b-bbf3-2765b858518d"
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6736a09d-b57d-468c-ae8e-7b22dedf8ce9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9da34d90ad4d4b7cbaeccaaad66977d2d828a5420ba7e26a9e324ff731ec9537"
  },
  "id": "bAAffkVlhTVbltny",
  "tags": []
}