level3/LinkedIn Content Creator Workflow.json
{
  "name": "LinkedIn Content Creator Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -112
      ],
      "id": "1a7825b8-27e3-4d44-93be-b92dc0b812c4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Yg4lpiLfiGbCiTQ8S4vajmez5i77SkWv9kkqB94N34o",
          "mode": "list",
          "cachedResultName": "linkedIn",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yg4lpiLfiGbCiTQ8S4vajmez5i77SkWv9kkqB94N34o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yg4lpiLfiGbCiTQ8S4vajmez5i77SkWv9kkqB94N34o/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To Do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        -112
      ],
      "id": "10c3f4a4-d872-4ee9-b108-985ed66ba7c0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "r7yeG8ACG7tLO45l",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"Search the web for {{ $json.Topic }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        -112
      ],
      "id": "e0787bf6-7434-4d89-8694-bb3d870b3f44",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article 1:{{ $json.results[0].content }}\nArticle 2:{{ $json.results[1].content }}\nArticle 3:{{ $json.results[2].content }}",
        "options": {
          "systemMessage": "You are an AI agent that receives 3 articles as input. Your task is to create a concise LinkedIn post (under 120 words) tailored for entrepreneurs. The post should:\n\nSynthesize the most important insights from the 3 articles.\n\nBe written in a professional, inspiring, and forward-looking tone that resonates with entrepreneurs.\n\nHighlight opportunities, lessons, or innovative ideas relevant to business growth and leadership.\n\nStay concise, clear, and impactful — avoid fluff.\n\nUse relevant industry hashtags (e.g., #Entrepreneurship #Innovation #Leadership) and a few well-placed emojis (🚀💡🌍) to boost engagement.\n\nYour final output should be ready to publish as a LinkedIn post."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        144,
        -112
      ],
      "id": "a02b2a2f-3997-4b25-a68c-b6ccf0c15e6f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        96
      ],
      "id": "5516eb15-8e2a-4810-8665-db7b5e933c61",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Z6srxLg2SOj9CRZF",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Yg4lpiLfiGbCiTQ8S4vajmez5i77SkWv9kkqB94N34o",
          "mode": "list",
          "cachedResultName": "linkedIn",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yg4lpiLfiGbCiTQ8S4vajmez5i77SkWv9kkqB94N34o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yg4lpiLfiGbCiTQ8S4vajmez5i77SkWv9kkqB94N34o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Get row(s) in sheet').item.json.Topic }}",
            "Status": "Done",
            "Content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        -112
      ],
      "id": "882e79d9-8a06-4f4f-92f0-b41d86832b4a",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "r7yeG8ACG7tLO45l",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "294141aa-9884-49dd-a8d5-eb00e698ed60",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9da34d90ad4d4b7cbaeccaaad66977d2d828a5420ba7e26a9e324ff731ec9537"
  },
  "id": "hGObEE8T2ZDQvv1j",
  "tags": []
}